<!doctype html>
{% load static %}
<html lang="en">

  <head>
    <style>
      .atagg {
        text-align: right;
      }
    </style>
    <title>에러블러 &mdash; Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/brand/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar light site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3">
              <div class="site-logo">
                <img id=logo_image src="{%static 'images/notes.png' %}">
                <a href="{% url 'Mainapp:home' %}"><strong>에러블러</strong></a>
              </div>
            </div>

            {% if user.is_authenticated %}

            <div class="col-9  text-right">
              
              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  
                  <li><a href="{% url 'Mainapp:home' %}" class="nav-link">홈</a></li>
                  <li><a href="{% url 'Boardapp:qna_board' %}" class="nav-link">질문 게시판</a></li>
                  <li class="active"><a href="{% url 'Boardapp:sol_board' %}" class="nav-link">해결 게시판</a></li>
                  <li><a href="{% url 'Boardapp:mypage' %}" class="nav-link">마이 페이지</a></li>
                  <li>
                    <a class='nav-link' href="{% url 'Mainapp:logout' %}">
                    {{ user.first_name }} 님 반갑습니다. (로그아웃)
                    </a>
                  </li>
                </ul>

                
              </nav>
            </div>

            {% else %}

            <div class="col-9  text-right">
              
              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>
              
              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="{% url 'Mainapp:home' %}" class="nav-link">홈</a></li>
                  <li><a href="{% url 'Boardapp:qna_board' %}" class="nav-link">질문 게시판</a></li>
                  <li class="active"><a href="{% url 'Boardapp:sol_board' %}" class="nav-link">해결 게시판</a></li>

                  <li><a href="{% url 'Mainapp:login' %}" class="nav-link">회원가입/로그인</a></li>
                 
                </ul>
                  
              </nav>
            </div>
            {% endif %}

          </div>
        </div>     
      </header>

      
      
      <div class="site-section">
        <div class="container">
          <div class="row m-5 align-items-center" style = "float: none; margin:100 auto">
            <div class="col-lg-10 mb-4 mb-lg-0" style="float: none; margin:0 auto;">

              <form action="{% url 'Boardapp:total_search' %}" method="POST" class="d-flex search-form">
                <span class="icon-"></span>
                {% csrf_token %}
                <input type="search" name="q" value="{{q}}" class="form-control mr-2 w-100" placeholder="궁금한 에러를 검색해보세요!(Ex.글 제목, 글 내용, 작성자..)">
                <button type="summit" class="btn btn-primary px-4 mr-2" value ="검색">검색</button>
                {% if user.is_authenticated %} {% with '해결' as type %}
                <Button id="writing_button" type="button" class="btn btn-primary px-4 " onclick="location.href='{% url "MakeBoardapp:writing_board" type %}'">글쓰기</Button>
                {% endwith %}
                {%endif%}
              </form>
              
            </div>
          </div>
        </div>

        <div class="category_container">
          <div id=error_categoty>
          <a onclick="location.href='{% url 'Boardapp:sol_category' 'python' %}'" class="cursor_pointer">  #파이썬 </a>
        </div>
          <div id=error_categoty>
            <a onclick="location.href='{% url 'Boardapp:sol_category' 'Django' %}'" class="cursor_pointer">  #장고 </a>
          </div>
          <div id=error_categoty>
            <a onclick="location.href='{% url 'Boardapp:sol_category' 'etc' %}'" class="cursor_pointer">  #기타 </a>
          </div>
        </div>
      
   
      <div class="site-section bg-light">
      <div class="container">
        <div class="row">
        {% for board in sol_posts %}
  
        <div class="d-flex tutorial-item mb-4">
          <div class="img-wrap">
            <div class = 'atagg'>
              <a href="{% url 'Boardapp:sol_category' board.category %}" >#{{board.category}}</a>
            </div>
            <div class="board_title">
              <h3><a href="{% url 'MakeBoardapp:detail_board' board.tb_no %}">{{board.title}}</a></h3>
            </div>
            <div class="board_create">
              <p class="meta">
              <span class="mr-2 mb-2">by {{board.writer}}</span>
              <span class="mr-2 mb-2">{{board.b_date}}</span>
            </p>
            </div>
            <div class="board_content">
              <p>{{ board.summary|safe }} <img id=basic_image src='' onerror='this.src="{% static 'images/img_1.jpg' %}"'></p>
            </div>
            <div class="comment_container"> 
              <div class="pt-4">
                <p>
                  <input type="button" id='heart-button'><text style="margin:5px;">{{ board.like }}</text>
                  <input type="button" id='rp-button' style="cursor: default;"><text style="margin:5px;">{{ comment_cnt }}</text>
                  <text style="margin:5px; float:right;">{{board.view}}</text>
                  <img src="{%static 'images/view_icon.png' %}" id='view-icon'>
                </p>
              </div>
            </div>
          </div>
          </div>
        {% endfor %}
  
        </div>
      </div>

        <div class="row_pagination">
          <div class="col-5">
            <div class="custom-pagination">
              {%if posts.has_previous%}
              <a href="?page=1"> << </a>
              <a href="?page={{posts.previous_page_number}}"> < </a>
              {%endif%}

              <span>{{posts.number}}</span>
              <span>of</span>
              <span>{{posts.paginator.num_pages}}</span>

              {%if posts.has_next%}
              <a href="?page={{posts.next_page_number}}"> > </a>
              <a href="?page={{posts.paginator.num_pages}}"> >> </a>
              {%endif%}
            </div>
          </div>
        </div>

      </div>
    </div>
      
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>

